@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

// *{
//     margin: 0px 20px;
// }

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

nav li:last-child a {
    background: $primary;
    &:hover {
        background: $primary-hover;
    }
}

nav li a {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    &:hover{
        color: $primary;
    }
}

section.home-page {
    background: $secondary;
}

.pz-size {
    background: $secondary;
}

.btn-primary{
    background: $primary;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    &:hover {
        background: $primary-hover;
    }
    &:focus{
        outline: none;
    }
}

.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus{
        outline: none;
    }
}

section.cart {
    background: $secondary;
    .total-amount {
        color: $primary;
    }
}

section.auth {
    background: $secondary;
    min-height: calc(100vh - 86px);
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}

.noty_theme__mint{
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
    padding-left: 8px !important;
}
